#container{
	width: 377px;
	height: 291px;
	display: grid;
	position: relative;
	padding: 104px 426px;


}



#pictue{
	position: absolute;
	padding: 25px 354px
}
#etch {
	height: 461px;
	width: 518px
}
